* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
	font-family: 'Open Sans', sans-serif;
  line-height: 1.25;
}

body {
}

/* bootstrap */
.container {
  margin: 0 auto;
  min-width: 960px;
}

.row {
    display: flex;
}

.col-2 {
	width: 16.666666666666664%;
  padding: 0 1rem;
}

.col-3 {
	width: 25.00%;
  padding: 0 1rem;
}

.col-4 {
	width: 33.33333333333333%;
  padding: 0 1rem;
}

.col-5 {
	width: 41.666666666666664%;
  padding: 0 1rem;
}

.col-6 {
	width: 50.00%;
  padding: 0 1rem;
}

.col-9 {
	width: 75.00%;
	padding: 0 1rem;
}

.col-12 {
	width: 100.00%;
	padding: 0 1rem;
}

.push-3 {
  margin-left: 25%;
}

.push-6 {
  margin-left: 50%;
}


/* header */
header {
  z-index: 3;
}

/* header / main */
.header-main {
  background: white;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
  /* DEBUG: header shadow doesn't work if image or color is set in .header-sub */
}

/* header / main / top bar */
.bar-top {
  align-items: center;
  display: flex;
  padding: .5rem 2rem 0.5rem 2rem;
  justify-content: space-between;
}

/* header / main / top bar / contact links */
.links-contact > a {
  color: #DCDCDC;
  display: inline-block;
  font-size: 0.875rem;
  font-weight: 400;
  padding: 8px 16px;
  text-decoration: none;
  transition: all 0.3s;
}

.links-contact > a:hover {
  color: #EE7070;
}

/* header / main / top bar / social links */
.links-social img {
  height: 20px;
}

.links-social > a {
  opacity: 0.1;
  padding: 0 0.2rem;
  text-decoration: none;
  transition: all 0.3s;
}

.links-social > a:hover {
  opacity: 1;
}

/* header / main / main bar */
.bar-main {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem 1.5rem 2rem;
  align-items: flex-end;
}

/* header / main / main bar / logo */
.bar-main img {
  height: 90px;
}

/* header / main / main bar / nav links */
.links-nav a:nth-child(-n+6) {
  color: #414141;
  display: inline-block;
  font-size: 0.9375rem;
  font-weight: 400;
  padding: 0 .85rem;
  text-decoration: none;
  transition: all 0.3s linear 0s;
}

.links-nav a:last-child {
  background-color: #EE7070;
  border-radius: 25px;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.4);
  color: white;
  display: inline-block;
  font-size: 0.9375rem;
  font-weight: 400;
  padding: 0.35rem 1rem;
  text-decoration: none;
  transition: all 0.3s linear 0s;
}

.links-nav a:hover, a:active {
  color: #EE7070;
}

.links-nav a:hover:last-child {
  color: #414141;
}

/* header / sub */

.row-sh {
  display: flex;
  justify-content: center;
}

.row-sh div {
  height: 170px;
  width: 860px;
}

.row-sh > div {
  display:flex;
  padding-top: 4.5rem;
}

#row1 > div {
  justify-content: flex-start;
}

#row2 > div {
  justify-content: flex-end;
}

#row3 > div {
  justify-content: center;
}

.header-sub {
  background-image: url("../images/background-blue-gradient.jpg");
  height: 630px;
}

.header-sub h2 {
  color: white;
  font-size: 5.5rem;
  font-weight: 700;
  letter-spacing: 5px;
  padding: 0 0.5rem 0 0.5rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

.header-sub h3 {
  color: #EE7070;
  font-family: 'Leckerli One', cursive;
  font-size: 9rem;
  margin-top: -0.5rem;
  padding: 0 0 0 3rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

.header-sub h4 {
  color: white;
  font-size: 3.2rem;
  font-weight: 700;
  letter-spacing: 14px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

.specs hr {
  display: block;
  border-color: #414141;
  border-style: inset;
  border-width: 0.5px;
  margin: 0 3.5rem;
}

.specs h5 {
  color: #414141;
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 1px;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  text-align: center;
}

.specs h6 {
  color: #EE7070;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 3px;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  text-align: center;
}

.specs p {
  color: #414141;
  font-size: .9375rem;
  letter-spacing: -1px;
  font-weight: 400;
  line-height: 1.6;
  padding-bottom: 1.5rem;
  text-align: justify;
}

.specs a {
  background-color: #DCDCDC;
  border-radius: 25px;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.4);
  color: #414141;
  font-size: 0.875rem;
  font-weight: 400;
  padding: 0.2rem 1rem;
  text-align: center;
  /* DEBUG: buttons aligned left despite above setting */
  text-decoration: none;
  transition: all 0.3s linear 0s;
}

.specs a:hover {
  color: #EE7070;
}
